$borderColor: lightgray;

.s-picker-btn, .s-picker-select {
  height: 30px;
  min-width: 30px;
  margin: 2px;
  background-color: transparent;
  border: 1px solid $borderColor;
  border-radius: 4px;
}

select, button {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}
